@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

* {
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

body {
  background-color: #f4d04e;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 10px 10px black;
  height: 522px;
  width: 384px;
  border-radius: 20px;
  background-color: white;
  transition: ease-in-out .5s
}

.card-image{
  border-radius: 10px;
}

.card-text{
  height: 194px;
  width: 336px;
  font-weight: lighter;
}

.card-avatar{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 32px;
}

.card-image, .card-text, .card-avatar{
  margin-left: 25px;
}

.card-tag {
  background-color: #f4d04e;
  width: 82px;
  height: 29px;
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 4px;
}


.avatar-image{
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.card-avatar > p {
  font-weight: bold;
  margin-left: 15px;
}

.card-title{
  transition: ease-in-out .5s;
}

.card-title:hover{
  color: #f4d04e;
}

.card:hover{
  box-shadow: 20px 20px black;
}